<div class="container">
  <div class="form-control">
    <label for="datasetSelect">Select Dataset:</label>
    <select id="datasetSelect" [(ngModel)]="selectedDataSet">
      <option *ngFor="let ds of dataSets" [ngValue]="ds">{{ ds.displayName }}</option>
    </select>
  </div>
  <div class="form-control">
    <label for="groupingSelect">Select Grouping:</label>
    <select id="groupingSelect" [(ngModel)]="selectedGrouping">
      <option *ngFor="let g of groupings" [ngValue]="g">{{ g.displayName }}</option>
    </select>
  </div>
  <div class="form-control">
    <label for="analyticsSelect">Select Analytics:</label>
    <select id="analyticsSelect" [(ngModel)]="selectedAnalytics">
      <option *ngFor="let a of analytics" [ngValue]="a">{{ a.displayName }}</option>
    </select>
  </div>
  <button (click)="loadData()" [disabled]="isLoading || !selectedDataSet || !selectedGrouping || !selectedAnalytics">
    {{ isLoading ? 'Loading...' : 'Load Data' }}
  </button>

  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <div *ngIf="nodeResults.length > 0 && !isLoading" class="table-container">
    <h2>Results</h2>
    <table>
      <thead>
        <tr>
          <th>Node Name</th>
           <th>{{ displayedAnalytics?.displayName || 'Analytic' }}</th>
        </tr>
      </thead>
     <tbody class="table-body-container">
        <tr *ngFor="let nodeResult of nodeResults">
          <td>{{ nodeResult.nodeName }}</td>
          <td>{{ nodeResult.result }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="isLoading" class="loading">
    Loading data...
  </div>
</div>


